html, body {
    height: 100%;
}

body {
    /*font-family: 'Schoolbell', sans-serif;*/
    font-family: 'Playfair Display', serif;
    /*font-family: 'Inter', sans-serif;*/
    margin: 0;color: #e0e2d7;
    display: flex;
    flex-direction: column;

    background-image: url("assets/papier.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------- HEADER ---------- */

header {
    background-color: #27221e;
    color: #e0e2d7;

    padding: 10px 0; /* pas de padding horizontal */

    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Fixé en haut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    /* Animation shrink */
    transition: padding 0.4s ease, font-size 0.4s ease;
}
header h1 {
    margin-left: 60px; /* espace à gauche */
}

/* Header rétréci au scroll */
header.shrink {
    padding: 5px 30px;
}

header.shrink h1 {
    font-size: 1.4em;
}

/* Liens du menu */
nav {
    display: flex;
    gap: 20px; /* espace entre les liens */
    margin-right: 60px; /* espace à droite */
}

nav a,
nav span {
    text-decoration: none;
    color: #e0e2d7;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}
nav a:hover,
nav span:hover {
    color: #cdd7a1;        /* couleur douce */
    transform: scale(1.05);
    transition: 0.2s ease;
}

/* Container du dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Bouton visible */
.dropbtn {
    font-weight: bold;
    cursor: pointer;
}

/* Contenu caché */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* Style des liens */
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
    font-weight: normal;

}

/* Apparition au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Effet au survol des liens */
.dropdown-content a:hover {
    background-color: #f0f0f0;
}

/*  ----------  SOLEIL  ----------  */
.soleil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    height: 600px; /* hauteur de la section — ajuste comme tu veux */
    padding: 0px;
    margin-top: 120px;
}

.soleil-image img {
    max-height: 850px; /* tu choisis la taille */
    width: auto;
    object-fit: contain;
    border-radius: 20px; /* optionnel, pour un look plus doux */
}


.soleil-text {
    max-width: 600px;
    font-size: 1.5em;
    color: #2b2621;
}
.quote2 {
    font-size: 1.4em;
    font-style: italic;
    color: #2b2621;
    margin: 20px 0;
}

.quote-author2 {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 0.9em;
    color: #4c632c;
}



/*  ----------  ACTIVITE  ---------- */

.activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 100px;

    background-color: #2b2621;

}

/* Titre de la section */
.activite-titre {
    font-size: 2.2em;
    margin: 0;
    text-align: center;
    color: white;
}

/* Conteneur des images en row */
.activite-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; /* pour éviter les décalages sur petit écran */
}

.activite {
    display: flex;
    flex-direction: column; /* Nom au-dessus, image en dessous */
    align-items: center;
    text-align: center;

    transition: transform 0.3s ease;

}

.activite img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
}


.activite:hover {
    transform: scale(1.05);
}

.activite h3 {
    margin: 4;
    font-size: 1.4em;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
}

.about, .contact {
    padding: 40px 20px;
    max-width: 700px;
    margin: auto;
}



.activite-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer {
    text-align: right;
    padding: 10px 40px;
    margin-top: auto;
    background-color: #2b2621;
}